body,
html {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Cuprum", sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 24px;
    background-image: url("../img/technomart-index.psd");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
}

a {
    text-decoration: none;
}

/*HEADER*/
.header {
    background-color: #f3f7f9;
    width: 100%;
    height: 320px;

}

.main-header {
    width: 100%;
    height: 42px;
    background-color: #293449;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    line-height: 6px;
    justify-content: center;
}

/*#ee3643
#a12b2f
720*/
.main-header-logo {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    margin: 0px;
}

.main-header-logo img {
    padding: 15px 55px 15px 55px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    width: 720px;
    height: 47px;
    padding: 0px;
    margin: 0;
}

.search {
    width: 254px;
    padding: 6px 16px;

}

.search p {
    margin: 0px;

}

.tabs-and-cart {
    list-style: none;
    display: flex;
    width: 300px;

}

.tabs-and-cart a {
    color: #ffffff;
    width: 150px;
    padding: 13px
}

.tabs {
    background-image: url(../img/svg-technomart/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-size: 13px 13px;

}

.cart {
    background-image: url(../img/svg-technomart/icon-cart.svg);
    background-repeat: no-repeat;
    background-size: 13px 13px;

}

.place-your-order {
    color: #ffffff;
    width: 150px;
    height: 42px;
    background-color: #63a63e;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.short-information {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: auto;
    align-items: center;
    height: 158px;
    margin: auto;

}

.information {
    color: #ee3643;
    font-size: 16px;
    font-family: italic;
}

.tell-and-address {
    font-size: 14px;
    color: #32425c;
}

.tell-and-address a {
    color: #ee3643;
    font-size: 21px;
    display: flex;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 70px 10px 50px;
    background-image: url(../img/svg-technomart/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.login {
    width: 120px;
    height: 45px;
    font-size: 21px;
    background-color: #ffffff;
    color: #000000;
    display: block;
    object-position: center;
    align-items: center;
}

.registration {
    width: 150px;
    height: 45px;
    font-size: 21px;
    background-color: #ffffff;
    color: #000000;
}

.user {
    display: flex;
    flex-direction: column;
}

.registered-person {
    list-style: none;
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.registered-person a {
    color: #000000;
    font-size: 21px;
}

.my-orders-and-cabinet {
    list-style: none;
    text-decoration: underline;
    display: flex;
}

.my-orders-and-cabinet a {
    color: #32425c;
    font-size: 16px;
}


.main-navigation {
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    background-color: #35445e;
    height: 60px;
    width: 940px;
    align-items: center;
}

.main-navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.main-navigation-list a {
    color: #ffffff;
}

.short-information + .main-navigation {
    display: flex;
    justify-content: center;
    margin: auto;
}

/*КОНТЕНТ */
.main-path {
    list-style: none;
    display: flex;
    font-size: 13px;
}

.main-path a {
    color: #000000;
}

.catalog-title {
    font-size: 30px;
    color: #32425c;
    width: 940px;
    height: 89px;
    background-color: #f2f6f8;
}

.manufacturers {
    font-size: 17px;
}

.list-of-manufacturers {
    list-style: none;
    font-size: 15px;
    line-height: 40px;
}

.power-supply {
    font-size: 17px;
}

.list-of-power-supply {
    list-style: none;
    font-size: 15px;
    line-height: 40px;
}

.company-features h2 {
    font-size: 30px;
}

.button-to-show {
    background-color: #ffffff;
    border: 1px solid rgb(229, 229, 229)
}

.products {
    list-style: none;
}

.name-of-product {
    color: #000000;
    font-size: 18px;
}

.products del {
    color: #999999;
    font-size: 17px;
}

.products p {
    font-size: 17px;
    color: #ffffff;
    background-color: #ee3643;
    width: 122px;
    height: 28px;
}

.buy {
    color: #ffffff;
    font-size: 14px;
    display: none;
}

.in-the-bookmark {
    color: #32425c;
    font-size: 14px;
    display: none;
}

.item-in-cart {
    display: none;
}

.large-choice,
.delivery {
    font-size: 13px;
    line-height: 25px;
}

.list-of-transport-companies {
    list-style: none;
    font-size: 18px;
    line-height: 40px;
}

.more-about-company {
    font-size: 14px;
    width: 220px;
    height: 38px;
    background-color: #ee3643;
}

.more-about-company a {
    color: #ffffff;
}

.contacts h2 {
    font-size: 30px;
}

.our-office {
    font-size: 13px;
    line-height: 25px;
}

.write-us {
    font-size: 14px;
    width: 300px;
    height: 38px;
    background-color: #ee3643;
}

.write-us a {
    color: #ffffff;
}

.large-map {
    display: none;
}

.letter {
    display: none;
}

/*FOOTER*/
.footer {
    height: 300px;
    width: 100%;
    background-color: #32425c;
    position: absolute;
}

.footer-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    width: 220px;
    height: 63px;
    background-color: #ee3643;
    margin: 0px;
}

.footer-logo img {
    padding: 20px 42px 20px 42px;
}

.address {
    font-size: 18px;
    color: #ffffff;
    line-height: 28px;
}

.address a {
    color: #ffffff;
}

.footer-navigation-part1 {
    list-style: none;
    font-size: 18px;
    display: flex;
}

.footer-navigation-part1 a {
    color: #ffffff;
}

.footer-navigation-part2 {
    list-style: none;
    font-size: 18px;
    display: flex;
}

.footer-navigation-part2 a {
    color: #ffda96;
}

.requisites {
    width: 100%;
    height: 107px;
    background-color: #293449;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights-reserved {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.social-network {
    list-style: none;
    display: flex;
}

/*#212a3a*/

.icon-vk {
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
}

.icon-vk img {
    width: 28px;
}

.icon-fb {
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
}

.icon-fb img {
    height: 25px;
}

.icon-insta {
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
}

.icon-insta img {
    height: 25px;
}

.feedback {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.feedback a {
    color: #ffda96;
}

.developers {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.developers a {
    color: #ffda96;
}
